/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom Styles
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
    font-size: 0.625em;
    font-family: Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: 'lotr';
    src: url('../assets/RingbearerMedium-51mgZ.ttf');
}

body {
  background: #111111;
}

/*
  ========================================
  Header Styles
  ========================================
*/

header {
  display: flex;
  justify-content: center;
}

header h1 {
    font-family: 'lotr', Arial, Helvetica, sans-serif;
    font-size: 7rem;
    color: #f5f5f5;
    padding: 2rem 1rem;
    text-align: center;
}


/*
  ========================================
  Body Styles
  ========================================
*/

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 15rem;
  padding: 1.5rem;
  gap: 2rem;
}

.main-text p,
.guess-result {
  text-align: center;
  color: #dcdcdc;
  font-size: 2.25rem;
  font-style: italic;
}

.bottom-selectors {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #202124;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 500;
  color: #C9C5CD;
}


.character-button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.character-button {
  background: inherit;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 500;
  padding: 1rem;
  border: none;
  flex: 1 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 170px;
  height: 170px;
}

.character-button-text,
.character-button-pct {
    font-size: 1.25rem;
    color: #cfcfcf;
    font-weight: 600;
}

.character-button-pct {
  color: #a2a2a2
}

.primary-button {
  background: #3A2D49;
  font-size: 1.5rem;
  font-weight: 700;
  color: #C9C5CD;
  padding: 1rem;
  border: 2px solid #C9C5CD;
  border-radius: 4px;
}

.primary-button:hover {
  background: #413550;
  transition: background-color 0.2s linear;
}

.primary-button:active {
  background-color: #51455E;
  box-shadow: 0px 0px 5px #9EA6CC;
}

.secondary-button {
  background: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  color: #C9C5CD;
  padding: 1rem;
  border: 2px solid #3A2D49;
  border-radius: 4px;
}

.secondary-button:hover {
  background: #413550;
  transition: background-color 0.2s linear;
}

.secondary-button:active {
  background-color: #51455E;
  box-shadow: 0px 0px 5px #9EA6CC;
}

.portrait,
.portrait-no-select {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgb(221, 118, 232);
}

.character-button:hover .portrait {
  box-shadow: 0px 0px 20px rgb(221, 118, 232);
  transition: box-shadow 0.5s ease-out;
}

.character-button:focus .portrait {
  box-shadow: 0px 0px 20px rgb(169, 57, 181);
}